$font-header: 36px;
$font-2xl: 24px;
$font-xl: 20px;
$font-lg: 18px;
$font-md: 16px;
$font-sm: 14px;
$font-xs: 12px;

$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;

// letter spacing
$no-letter-spacing: 0px;
$letter-spacing-sm: 0.5px;
$letter-spacing-md: 1px;
$letter-spacing-lg: 1.83px;

// line height
$line-height-primary: 120%;
