.imageGallery {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;

  .column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.imageItem {
  cursor: pointer;
  max-height: 600px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .title {
    margin-top: 5px;
    margin-left: 2px;
    visibility: hidden;

    // multi-line ellipsis
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    line-height: 21px;
    max-height: 42px;
    word-break: break-word;
    hyphens: auto;

    &:hover {
      visibility: visible;
    }
  }

  &:hover {
    .title {
      visibility: visible;
    }
  }
}

@media only screen and (min-width: 768px) {
  .imageGallery {
    flex-direction: row;

    gap: 10rem;

    .column {
      display: flex;
      flex-direction: column;
      gap: 10rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .imageGallery {
    .title {
      visibility: visible;
    }
  }
}
